// change the theme
$primary: #7386d5;
$danger: #ff4136;

// Import Bootstrap and its default variables
/*@import '~bootstrap/scss/bootstrap.scss'; */
@import './argon-design-system-react.scss';
@import './footer.scss';
@import './application.scss';

.cursor-default {
  cursor: default !important;
}

.btn-primary {
  color: white;

  &:hover {
    color: white;
  }
}

.btn-outline-primary:hover {
  color: white;
}

.navbar-light {
  .navbar-brand {
    &:hover svg,
    &:focus svg {
      fill: #7386d5;
    }

    &:hover,
    &:focus {
      color: $primary;
    }
  }
}
